<link href="../../../css/main.css" rel="stylesheet" type="text/css">
<link href="../../../css/layout.css" rel="stylesheet" type="text/css">
<div style="width:1021px; height:40px" align="center">
 
 <div style="background-image:'../../../css/img/search_bg.png'; width:243px; height:36px; border:#F00 1 solid">
    	
        <form id="function_search_form" method="post" action="<?= site_url('find_game/game');?>">
        <div ><input name="function_name" type="text" id="function_name" size="10"  /></div>
		<input type="image"  src="../../../css/img/search.png" id="search_button" width="22px" style="margin-top:5px" />
        </form>
	</div>
    
    
    <nav>
	<ul>
		<li id="comm"><a href="#">المجتمع</a></li>
		<li id="forum"><a href="#">المنتديات</a></li>
		<li id="members"><a href="#">الأعضاء</a></li>
		<li id="help"><a href="#">مساعدة؟</a></li>
		<li id="developers"><a href="#">للمطورين</a></li>
		<li id="news"><a href="#">الأخبار</a></li>
	</ul>
 
</div>
